/* colors
lawn Green - #7CFC00;
Indigo - #4B0082;
Royal Blue - #4169E1;
Dark Orange - #FF8C00;
Cyan - #0FF;
Ivory - #FFFFF0;
Snow - #FFFAFA;
Floral White - #FFFAF0;
40% Slate Gray - #596673;
Blue - #0000cc;
Light shade Blue - #4d4dff;
Black - #1a1a1a;
DimGray - #696969;
 */

/* Main Colors */
.header {
  background-color: #FFFAF0;
}

.main-banner {
  width: 100%;
}

.info {
  background-color: #FFFFF0;
}

#courses {
  background-color: #FFFAFA;
}

#thesis-banner {
  background-color: #7CFC00;
}

.footer {
  background-color: #4B0082;
}

.side-container {
  background-color: #f00;
}

.industry-container{
  background-color: #00f;
}

.side-container:hover {
  background-color: LightGray;
}

.industry-container:hover {
  background-color: LightGray;
}

.button span {
  background-color: #696969;
}

.button span:hover {
  background-color: #4169E1;
}

/* Universal */
html {
  font-size: 16px;
  font-family: 'Crimson Text';
  background-color: blue;
}

body {
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
}

h2 {
  color: lime;
}

h3 {
  font-size: 1.5rem;
  color: purple;
}

p {
  font-family: Domine;
}

span {
  font-family: Domine;
}

a {
  text-decoration: none;
  color: #596673;
}

.mobile-icons {
  display: none;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  color: #FFFAFA;
  border-bottom: 1px solid #000;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-left: 1.5rem;
}

.menu {
  margin-right: 0.5rem;
}

.menu span {
  margin: auto 1rem;
}

.menu a:hover {
  border-bottom: 0.09rem solid #4B0082;
}

.logo span {
  font-family: Kurale;
}

#colmar {
  color: #0000cc;
}

#academy {
  font-family: Kurale;
  color: #4d4dff;
}

/* Main Banner */
.banner {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-banner {
  display: flex;
  background-color: #1a1a1a;
  opacity: 0.65;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 50%;
  margin: 0 auto;
}

.main-banner .text {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.main.image {
  width: 100%;
  margin: 2rem 1.5rem;
}

.image img {
 width: 100%;
}

.button {
  padding-top: 2rem;
}

.button span {
  padding: 1.5rem 6rem;
  width: 100%;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  transition: all 500ms linear 0s;
  border-radius: 3px;
}

.button,
.text h1 {
  margin: 2rem 0;
}

.button a {
  color: #FF8C00;
}

.main-banner .text h1 {
  color: #7CFC00;
}

.main-banner .text p {
  color: #FFF;
}
